body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 30px;
}

.form-container {
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    width: 320px;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
}

button:hover {
    background: #0056b3;
}

.mensagem {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.tabela-container {
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    width: 90%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
